/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

figure {
	line-height: 0;
	margin: 0;
	position: relative;
}

figcaption{
	font-size: 0.9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(19,43,102,.85);
	position: absolute;
	bottom: 0;
	width: 100%

}

.main-nav {
	margin-top: 5px; 
}

.name {
	font-size: 1.25em;
	margin: 0;
}


.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: 1em;
	color: #3acec2;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;

}

.main-nav a:hover {
	color: #093a58;

}

/* ---- Layout Containers ---- */

.banner {
	background: #efefef;
	text-align: center;
	padding: 0;
	margin-bottom: 10px;
	height: 303px;	
	position: relative;

}

.banner_bg {
	background-image: url('/ui/img/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	filter: blur(4px);
}

.banner_bg_about {
	background-image: url('/ui/img/aboutme.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	filter: blur(4px);
}

.banner_bg_contact {
	background-image: url('/ui/img/contactus.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	filter: blur(4px);
}

.banner_bg_art {
	background-image: url('/ui/img/letter.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	filter: blur(4px);
}

.banner_content {
	position: absolute;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	top: 110px;
	left: 100px;
	text-shadow: 0 3px rgba(0,0,0,0.5);
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	text-align: center;
}

.wrap {
		min-height: calc(100vh - 52px - 89px);
	
	}

.blog_posts {
	width: 70%;
	background-color: white;
	height: 80%;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 10px;
	border: solid;
	
}

.side_banner {
	width: 28%;
	background-color: white;
	height: 100%;
	float: right;
	margin-right: 5px;
	margin-left: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: solid;
}


.blog_content_con {
	width: 100%;
	background-color: white;
	margin: 0 auto;
	margin-top: 0.625rem;
}

.center_con {
	text-align: center;
}

.post{
	padding: 5px 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.post_comments {
	margin-left: 20px;

}

.post_content {
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post_heading a{
	text-transform: uppercase;
	font-size: 1.25em;
	color: #3acec2;
	font-family: 'Nunito', sans-serif;
	
}

.post_heading a:hover {
	color: #093a58;
	text-shadow: 0 2px rgba(0,0,0,0.5);
	
}

.name_art_wrap {
	background-color: white;
	padding: .50rem;
	border: solid;
	border-radius: 10px;
	
}

.name_art_cont {
	padding: 0.5rem;
	font-family: 'Nunito',helvetica;
	font-size: 1.2em;
}

.commenter {
	margin-bottom: 10px;
}
/* ---- Page Elements ---- */

.about_btn {
	text-transform: uppercase;
	background-color: #efefef;
	border-radius: 10px;
	margin-top: 2rem;
	width: 80%;
	font-size: 20px;
}

.my_img {
	margin: 2rem auto;

}

.profile_img {
	width: 200px;
	border-radius: 100%

}

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 2em;
	text-transform: uppercase;
}

.art_headline {
	text-transform: uppercase;
	font-size: 2em;
}

.subtitle {
	font-size: 1.3em;
}

.icon-location {
	width: 35px;
	position: absolute;
	top: -15px;
	right: -15px;

}

.social_links {
	margin-bottom: 10px;
}

.social_icon {
	margin: auto auto;
	border-radius: 100%;
	max-width: 15%
}

.login_reg_head {
	margin: 0px;
}

.username_label,.password_label {
	font-family: 'Nunito', sans-serif;
	font-size: 1.1em;
	color: #093a58;
}

.log_reg_input {
	border-radius: 5px;
	margin top: 5px;
	margin-bottom: 5px;
}

.log_reg_btn {
	margin-top: 2px;
	margin-bottom: 10px;
	font-family: 'Nunito',sans-serif
	border-radius: 5px;
}

.resp_head {
	margin-top: 4px;
	margin-bottom: 4px;
}

.indi_comment {
	font-family: 'Nunito',helvetica;
	font-size: 1.1em;
}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {

	.banner {
		margin-top: 52px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,0.5);
		width: 100%;
		top: 0;
		z-index: 1000;

	}

	.containerr {
		width: 90%;
		margin: 0 auto;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

	.name , .col{
		float: left;
	}

	.primary,.secondary {
		width: 50%;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	.banner_content {
		top: 100px;
		left: 340px;
	}

	.blog_content_con {
	width: 100%;
	background-color: white;
	margin: 0 auto;
	margin-top: 0.625rem;
}

}

@media (min-width: 1025px) {
	.containerr {
		width: 80%;
		max-width: 1150px;
		
	}

	.primary {
		width: 40%;
	}

	.secondary,.tertiary {
		width: 30%;
	}

	.banner_content {
		top: 110px;
		left: 550px;
	}
}